@charset "UTF-8";
/*変数設定用*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap");
@media screen and (min-width: 981px) {
  .u-pc {
    display: block !important;
  }
}

@media screen and (max-width: 980px) {
  .u-pc {
    display: none !important;
  }
}

@media screen and (min-width: 981px) {
  .u-sp {
    display: none !important;
  }
}

@media screen and (max-width: 980px) {
  .u-sp {
    display: block !important;
  }
}

.text-copy {
  font-size: 48px;
}

.text-primary {
  font-size: 36px;
}

.text-notice {
  font-size: 24px;
}

.text-large {
  font-size: 20px;
}

.text-normal {
  font-size: 16px;
}

.text-small {
  font-size: 10px;
}

* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
  vertical-align: bottom;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

a:hover p:hover {
  opacity: 0.7;
}

a:hover img:hover {
  opacity: 0.7;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-size: 62.5%;
  /*ゴシック*/
  font-family: "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "NotoSansCJKjp-Regular", "Noto Sans CJK JP", -apple-system, BlinkMacSystemFont, "Helvetica Neue", HelveticaNeue, "Segoe UI", "游ゴシック体", YuGothic, "Yu Gothic M", "游ゴシック Medium", "Yu Gothic Medium",  "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  /*明朝*/
  /*font-family: Georgia, "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;*/
}

header {
  width: 100%;
  height: auto;
}

footer {
  width: 100%;
}

@media screen and (min-width: 981px) {
  .vpc {
    display: block;
  }
}

@media screen and (max-width: 980px) {
  .vpc {
    display: none;
  }
}

@media screen and (min-width: 981px) {
  .vsp {
    display: none;
  }
}

@media screen and (max-width: 980px) {
  .vsp {
    display: block;
  }
}

.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}

/* ページTOP */
#page-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 77%;
}

#page-top a {
  text-decoration: none;
  width: 100px;
  padding: 30px 0;
  text-align: center;
  display: block;
  border-radius: 5px;
}

#page-top a:hover {
  text-decoration: none;
}

/*-------------------------------------------------
	Custom Properties
---------------------------------------------------*/
:root {
  /* Color */
  --c-blue:  rgba(0, 108, 190, 1);
  --c-blue_50:  rgba(0, 108, 190, .5);
  --c-blue_02:  rgba(242, 249, 255, 1);
  --c-green:  rgba(82, 190, 0, 1);
  --c-green_50:  rgba(82, 190, 0, .5);
  --c-grey:  rgba(248, 248, 248, 1);
  --c-grey_02:  rgba(204, 204, 204, 1);
  --c-grey_03:  rgba(75, 84, 90, 1);
  --c-black: rgba(51, 51, 51, 1);
  --c-white: rgba(255, 255, 255, 1);
  --c-white_10: rgba(255, 255, 255, .1);
  --c-white_50: rgba(255, 255, 255, .5);
  --c-white_90: rgba(255, 255, 255, .9);
  /* Font Size */
  --font-size_base: 62.5%;
  --font-size_xs: 1rem;
  --font-size_s: 1.4rem;
  --font-size_m: 1.6rem;
  --font-size_l: clamp(1.8rem, 2.2vw, 2rem);
  --font-size_xl: clamp(2rem, 2.4vw, 2.4rem);
  --font-size_xxl: clamp(2.2rem, 3.3vw, 3.6rem);
  --font-size_xxxl: clamp(3rem, 4.5vw, 4.8rem);
  /* Padding */
  --pd-inr-side: 24px;
  /* Height */
  --h-header: 6rem;
  --h-footer: 20rem;
  --h-slider: 80rem;
  /* Width */
  --w-side: 25rem;
  /* Border */
  --b-radius: 4px;
  /* Slider */
  --h-slider: 50rem;
  /* font-weight */
  --font-weight_thin: 300;
  --font-weight_normal: 400;
  --font-weight_bold: 600;
  /* line-height */
  --c-line_normal: 1.5em;
  --c-line_relaxed: 1.7em;
  --c-line_loose: 2em;
  /* gap */
  --c-gap: 6rem 2.4rem;
  --c-gap_sp: 3rem 1.5rem;
  /* transition */
  --transition: all 0.3s ease-in-out;
  /* margin */
  --mb-sp_normal: 4rem;
  --mb-sp_harf: 2rem;
  --mb-sp_tight: 1rem;
}

/*-------------------------------------------------
	Variant
---------------------------------------------------*/
/*-------------------------------------------------
	Reset
---------------------------------------------------*/
body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, tr, td, th, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  background: transparent;
  border: 0;
  border-spacing: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-style: normal;
  list-style: none;
  margin: 0;
  outline: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline;
}

html {
  font-size: var(--font-size_base);
  line-height: 1;
}

a, address {
  color: var(--c-black);
  text-decoration: none;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: var(--font-weight_bold);
}

a:visited {
  /* color: var(--c-black); */
}

/*-------------------------------------------------
	Common
---------------------------------------------------*/
html {
  height: 100%;
}

body {
  color: var(--c-black);
  height: 100%;
}

.c-strong {
  font-weight: bold;
}

.l-pattern {
  background-image: url(assets/images/bg.svg);
  background-size: cover;
}

.l-white {
  background-color: var(--c-white);
}

.l-inner {
  padding: 0 3rem 15rem;
}

@media screen and (max-width: 980px) {
  .l-inner {
    padding: 0 1.5rem 8rem;
  }
}

.c-blue {
  color: var(--c-blue);
}

.c-title {
  font-size: var(--font-size_xxxl);
  color: var(--c-black);
  text-align: center;
  margin-bottom: 8rem;
}

@media screen and (max-width: 980px) {
  .c-title {
    margin-bottom: 4rem;
  }
}

.c-text-l {
  font-size: var(--font-size_l);
  line-height: 1.7;
}

.c-text-l::before, .c-text-l::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
}

.c-text-l::before {
  margin-top: calc((1 - 1.7) * 0.5em);
}

.c-text-l::after {
  margin-bottom: calc((1 - 1.7) * 0.5em);
}

.c-text-m {
  font-size: var(--font-size_m);
  line-height: 1.7;
}

.c-text-m::before, .c-text-m::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
}

.c-text-m::before {
  margin-top: calc((1 - 1.7) * 0.5em);
}

.c-text-m::after {
  margin-bottom: calc((1 - 1.7) * 0.5em);
}

.c-text-s {
  font-size: var(--font-size_s);
  line-height: 1.7;
}

.c-text-s::before, .c-text-s::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
}

.c-text-s::before {
  margin-top: calc((1 - 1.7) * 0.5em);
}

.c-text-s::after {
  margin-bottom: calc((1 - 1.7) * 0.5em);
}

.c-thin {
  font-weight: var(--font-weight_thin);
}

.c-bold {
  font-weight: var(--font-weight_bold);
}

.u-justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

header nav {
  position: absolute;
  top: 0;
  right: 80px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 50;
}

header nav.js-scroll-header {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  padding: 0 8rem 0 3rem;
  top: 0;
  right: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  background: var(--c-white);
  padding-bottom: 15px;
  z-index: 60;
}

@media screen and (max-width: 980px) {
  header nav.js-scroll-header {
    padding: 0;
  }
  header nav.js-scroll-header .nav-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1.5rem 3rem;
    width: 100%;
  }
}

@media screen and (max-width: 980px) and (max-width: 980px) {
  header nav.js-scroll-header .nav-inner {
    padding: 1em 1.5em;
  }
}

header nav.js-scroll-header.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

header nav.js-scroll-header a.u-logo {
  display: block;
  height: 60px;
  margin-top: 20px;
}

@media screen and (max-width: 980px) {
  header nav.js-scroll-header a.u-logo {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 0;
  }
}

@media screen and (max-width: 980px) {
  header nav.js-scroll-header a.u-logo {
    height: 32px;
  }
}

header nav.js-scroll-header a.u-logo img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: auto;
}

header nav.js-scroll-header .js-nav-btn {
  width: 40px;
  height: 22px;
  position: relative;
  cursor: pointer;
}

header nav.js-scroll-header .js-nav-btn span {
  display: block;
  width: 100%;
  height: 2px;
  background: var(--c-blue);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  position: absolute;
}

header nav.js-scroll-header .js-nav-btn span:nth-child(1) {
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

header nav.js-scroll-header .js-nav-btn span:nth-child(2) {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header nav.js-scroll-header .js-nav-btn span:nth-child(3) {
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

header nav.js-scroll-header .active.js-nav-btn span:nth-child(1) {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(30deg);
          transform: translate(-50%, -50%) rotate(30deg);
}

header nav.js-scroll-header .active.js-nav-btn span:nth-child(2) {
  opacity: 0;
}

header nav.js-scroll-header .active.js-nav-btn span:nth-child(3) {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-30deg);
          transform: translate(-50%, -50%) rotate(-30deg);
}

header nav.js-scroll-header .js-scroll-header-content .top {
  padding-bottom: 2rem;
}

@media screen and (max-width: 980px) {
  header nav.js-scroll-header .js-scroll-header-content {
    background: var(--c-white);
    width: 100%;
    height: 0;
    overflow-y: scroll;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    position: fixed;
    top: 90px;
  }
}

@media screen and (max-width: 980px) and (max-width: 980px) {
  header nav.js-scroll-header .js-scroll-header-content {
    top: 44.5px;
  }
}

@media screen and (max-width: 980px) {
  header nav.js-scroll-header .js-scroll-header-content.active {
    height: 100vh;
  }
  header nav.js-scroll-header .js-scroll-header-content .top,
  header nav.js-scroll-header .js-scroll-header-content .bottom {
    gap: 0;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header nav.js-scroll-header .js-scroll-header-content .bottom {
    margin-bottom: 4rem;
  }
  header nav.js-scroll-header .js-scroll-header-content .bottom li {
    width: 100%;
    border-bottom: 1px solid var(--c-grey_02);
    position: relative;
  }
  header nav.js-scroll-header .js-scroll-header-content .bottom li a {
    display: block;
    width: 100%;
    padding: 2.5rem 3rem 2.6rem;
  }
}

@media screen and (max-width: 980px) and (max-width: 980px) {
  header nav.js-scroll-header .js-scroll-header-content .bottom li a {
    padding: 2.5rem 1.5rem 2.6rem 1.5rem;
  }
}

@media screen and (max-width: 980px) {
  header nav.js-scroll-header .js-scroll-header-content .bottom li:first-child {
    border-top: 1px solid var(--c-grey_02);
  }
  header nav.js-scroll-header .js-scroll-header-content .bottom li:after {
    content: url(assets/images/svg/icon-arrow.svg);
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 3rem;
  }
}

@media screen and (max-width: 980px) and (max-width: 980px) {
  header nav.js-scroll-header .js-scroll-header-content .bottom li:after {
    right: 1.5rem;
  }
}

@media screen and (max-width: 980px) {
  header nav.js-scroll-header .js-scroll-header-content .header-btn {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    min-width: 345px;
    border-radius: 0.4em;
    padding: 2em;
    margin: 0 auto 2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 980px) and (max-width: 375px) {
  header nav.js-scroll-header .js-scroll-header-content .header-btn {
    min-width: 300px;
  }
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

header nav ul:first-child {
  gap: 10px;
  padding-bottom: 30px;
}

header nav ul:nth-child(2) {
  gap: 30px;
}

header nav ul li .header-btn {
  color: #fff;
  font-weight: var(--font-weight_bold);
  border-radius: 0 0 4px 4px;
  padding: 15px 40px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

header nav ul li .header-btn img {
  margin-right: 5px;
}

header nav ul li .u-contact {
  background: var(--c-blue);
}

header nav ul li .u-booking {
  background: var(--c-green);
}

header nav ul li .header-nav {
  font-weight: var(--font-weight_bold);
  color: bar(--c-black);
}

header .item {
  font-size: var(--font-size_m);
  font-weight: var(--font-weight_bold);
}

.wrap {
  max-width: 1080px;
  margin: auto;
}

.c-flex-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.c-flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-flex-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.c-flex-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.c-check {
  position: relative;
  padding-left: 1.5em;
  line-height: 1.7;
}

.c-check:before {
  content: url(assets/images/svg/icon-check.svg);
  display: block;
  height: 1em;
  width: 1em;
  position: absolute;
  top: 0.1em;
  left: 0;
}

.c-check::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  margin-bottom: calc((1 - 1.7) * 1em);
}

.c-bnr {
  position: fixed;
  z-index: 40;
  right: 9rem;
  bottom: 4rem;
  width: 50%;
  max-width: 390px;
  min-width: 195px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media screen and (max-width: 1130px) {
  .c-bnr {
    right: 4rem;
  }
}

@media screen and (max-width: 600px) {
  .c-bnr {
    bottom: 1.5rem;
    right: 1.5rem;
  }
}

.c-bnr .c-img-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
}

.c-bnr .c-img-wrap .u-close-btn {
  cursor: pointer;
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -10px;
  right: -10px;
}

.hero {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: url(assets/images/hero/bg.png) no-repeat center/cover;
}

@media screen and (max-width: 980px) {
  .hero {
    background: none;
  }
}

.hero h1 {
  padding-top: 14rem;
}

@media screen and (max-width: 980px) {
  .hero h1 {
    height: calc(240 /375 * 100%);
    padding: 4rem 1.5rem 0;
    background: url(assets/images/hero/bg.png) no-repeat center/cover;
    margin-bottom: 6rem;
  }
}

.hero h1 .c-img-wrap.logo {
  display: block;
  width: 560px;
  margin: auto;
  margin-bottom: 8rem;
}

@media screen and (max-width: 980px) {
  .hero h1 .c-img-wrap.logo {
    width: calc(280 / 375 * 100%);
    min-width: 280px;
    margin-bottom: -1rem;
  }
}

.hero h1 .c-img-wrap.logo img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero .u-pc-img.u-pc {
  width: calc(700 / 1080 * 100%);
  position: absolute;
  right: 0;
  bottom: -4rem;
}

.hero .u-pc-img.u-sp {
  width: calc(280 / 375 * 100%);
  min-width: 280px;
  margin-right: 0;
  margin-left: auto;
  position: relative;
  bottom: -3rem;
}

.hero .wrap {
  position: relative;
  max-width: 1130px;
  padding: 0 30px;
}

@media screen and (max-width: 980px) {
  .hero .wrap {
    padding: 0 1.5rem;
  }
}

.hero .wrap p {
  display: inline-block;
  width: calc(735 / 1080 * 100%);
  font-size: var(--font-size_xxl);
  line-height: 1.7;
  font-weight: var(--font-weight_bold);
  padding-bottom: 4rem;
}

.hero .wrap p::before, .hero .wrap p::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
}

.hero .wrap p::before {
  margin-top: calc((1 - 1.7) * 0.5em);
}

.hero .wrap p::after {
  margin-bottom: calc((1 - 1.7) * 0.5em);
}

@media screen and (max-width: 980px) {
  .hero .wrap p {
    width: 100%;
  }
}

.hero ul {
  padding-bottom: 19rem;
}

@media screen and (max-width: 980px) {
  .hero ul {
    padding-bottom: 8rem;
  }
}

.hero ul li.c-check {
  font-size: var(--font-size_l);
  font-weight: var(--font-weight_bold);
  margin-bottom: 2rem;
}

.hero ul li.c-check:last-child {
  margin-bottom: 0;
}

.case {
  padding-top: 15rem;
}

.case h2 {
  font-size: var(--font-size_l);
  margin-bottom: 6rem;
  text-align: center;
  line-height: 1.7;
}

.case h2::before, .case h2::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
}

.case h2::before {
  margin-top: calc((1 - 1.7) * 0.5em);
}

.case h2::after {
  margin-bottom: calc((1 - 1.7) * 0.5em);
}

.case .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: var(--c-gap);
}

@media screen and (max-width: 980px) {
  .case .container {
    gap: 4rem 1.5rem;
  }
}

.case .container .card {
  position: relative;
  padding: 3rem 2.2rem 3rem 2rem;
  background: #fff;
  border: 1px solid #ccc;
  width: 252px;
}

@media screen and (max-width: 600px) {
  .case .container .card {
    width: 165px;
    padding: 4rem 1.5rem;
  }
}

.case .container .card h4 {
  font-size: var(--font-size_l);
  color: #006CBE;
}

.case .container .card::before, .case .container .card::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
}

.case .container .card::before {
  margin-top: calc((1 - 1.7) * 0.5em);
}

.case .container .card::after {
  margin-bottom: calc((1 - 1.7) * 0.5em);
}

.case .container .card .c-img-wrap {
  position: absolute;
  left: 2rem;
  top: -2.4rem;
}

.case .container .card .c-img-wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.case .container .card .c-img-wrap.img01 {
  width: 36px;
  height: 40px;
}

.case .container .card .c-img-wrap.img02 {
  width: 46px;
  height: 40px;
}

.case .container .card .c-img-wrap.img03 {
  width: 41px;
  height: 37px;
}

.case .container .card .c-img-wrap.img04 {
  width: 45px;
  height: 40px;
}

.case .container .card .c-img-wrap.img05 {
  width: 38px;
  height: 40px;
}

.case .container .card .c-img-wrap.img06 {
  width: 37px;
  height: 30px;
}

.case .container .card .c-img-wrap.img07 {
  width: 52px;
  height: 40px;
}

.case .container .card .c-img-wrap.img08 {
  width: 51px;
  height: 40px;
}

.needs {
  padding-top: 15rem;
}

@media screen and (max-width: 980px) {
  .needs {
    padding-top: 0;
  }
  .needs h2 {
    line-height: 1.7;
  }
  .needs h2::before, .needs h2::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
  }
  .needs h2::before {
    margin-top: calc((1 - 1.7) * 0.5em);
  }
  .needs h2::after {
    margin-bottom: calc((1 - 1.7) * 0.5em);
  }
}

.needs dl dt {
  background: var(--c-blue);
  color: var(--c-white);
  position: relative;
  padding: 41px 24px 42px 24px;
  border-radius: 10px 10px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 9px;
}

@media screen and (max-width: 980px) {
  .needs dl dt {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem;
  }
}

.needs dl dt::after {
  content: '';
  background: url(assets/images/needs/triangle_bl.svg);
  display: block;
  width: 23px;
  height: 15px;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 10;
}

.needs dl dt p.c-needs-header {
  text-align: center;
  font-weight: var(--font-weight_bold);
}

.needs dl dt p.c-needs-header span {
  display: block;
  font-size: var(--font-size_s);
  margin-bottom: 0.5rem;
}

.needs dl dt p.c-needs-header span.num {
  font-size: var(--font-size_l);
}

.needs dl dt h3 {
  font-size: var(--font-size_xxl);
  line-height: 1.7;
}

.needs dl dt h3::before, .needs dl dt h3::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
}

.needs dl dt h3::before {
  margin-top: calc((1 - 2) * 0.5em);
}

.needs dl dt h3::after {
  margin-bottom: calc((1 - 2) * 0.5em);
}

.needs dl dd {
  background: var(--c-white);
  border-radius: 0 0 10px 10px;
  padding: 4rem;
  margin-bottom: 8rem;
}

@media screen and (max-width: 980px) {
  .needs dl dd {
    padding: 4rem 2rem;
  }
}

.needs dl dd:last-child {
  margin-bottom: 0;
}

.needs dl dd .description {
  font-size: var(--font-size_m);
  font-weight: var(--font-weight_bold);
  margin-bottom: 40px;
  line-height: 1.7;
  text-align: center;
}

.needs dl dd .description::before, .needs dl dd .description::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
}

.needs dl dd .description::before {
  margin-top: calc((1 - 1.7) * 0.5em);
}

.needs dl dd .description::after {
  margin-bottom: calc((1 - 1.7) * 0.5em);
}

@media screen and (max-width: 980px) {
  .needs dl dd .description {
    text-align: left;
  }
}

.needs dl dd .c-flex-start {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.needs dl dd .left {
  width: 250px;
  margin-right: 40px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media screen and (max-width: 980px) {
  .needs dl dd .left {
    width: 100%;
    margin: auto;
    margin-bottom: 40px;
  }
}

.needs dl dd .left h4 {
  font-size: var(--font-size_s);
  margin-bottom: 1rem;
}

.needs dl dd .left figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid var(--c-blue);
}

.needs dl dd .left figure img {
  width: 80px;
  height: 80px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 17px;
}

.needs dl dd .left figure figcaption p {
  font-size: var(--font-size_l);
  font-weight: var(--font-weight_bold);
  line-height: 1.7;
}

.needs dl dd .left p.c-copy {
  font-size: var(--font-size_m);
  font-weight: var(--font-weight_thin);
  line-height: 1.7;
}

.needs dl dd .left p.c-copy::before, .needs dl dd .left p.c-copy::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
}

.needs dl dd .left p.c-copy::before {
  margin-top: calc((1 - 1.7) * 0.5em);
}

.needs dl dd .left p.c-copy::after {
  margin-bottom: calc((1 - 1.7) * 0.5em);
}

.needs dl dd .right {
  width: calc(100% - 250px - 40px);
}

.needs dl dd .right img {
  width: 100%;
}

@media screen and (max-width: 980px) {
  .needs dl dd .right {
    width: 100%;
    min-width: initial;
  }
}

.consultation {
  background: url(assets/images/consultation/bg.jpg) no-repeat center;
  background-size: cover;
  color: var(--c-white);
  padding: 10rem 3rem;
}

.consultation h2 {
  font-size: var(--font-size_xxxl);
  font-weight: var(--font-weight_bold);
  margin-bottom: 3rem;
  text-align: center;
}

.consultation .c-btn {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: var(--font-size_xl);
  font-weight: var(--font-weight_bold);
  background-color: var(--c-green);
  padding: 3rem 10rem;
  border-radius: 4px;
  color: var(--c-white);
  margin: 0 auto 2rem;
  text-align: center;
}

@media screen and (max-width: 980px) {
  .consultation .c-btn {
    padding: 3rem 0;
    width: 100%;
    max-width: 416px;
  }
}

.consultation p {
  font-size: var(--font-size_m);
  font-weight: var(--font-weight_bold);
  line-height: 1.7;
  text-align: center;
}

.consultation p::before, .consultation p::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
}

.consultation p::before {
  margin-top: calc((1 - 1.7) * 0.5em);
}

.consultation p::after {
  margin-bottom: calc((1 - 1.7) * 0.5em);
}

@media screen and (max-width: 480px) {
  .consultation p {
    text-align: left;
  }
}

.achievement .c-title .small {
  font-size: var(--font-size_xl);
}

.achievement .c-flex-wrap {
  gap: var(--c-gap);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 980px) {
  .achievement .c-flex-wrap {
    gap: var(--c-gap_sp);
  }
}

.achievement .card {
  width: calc(50% - 12px);
  padding: 3.9rem;
  border: 1.1rem solid var(--c-blue);
  background: var(--c-white);
  position: relative;
}

@media screen and (max-width: 980px) {
  .achievement .card {
    width: 100%;
  }
}

.achievement .card h4 {
  position: absolute;
  top: -1.1rem;
  left: -1.1rem;
  padding: 0.9rem 1.4rem;
  background-color: var(--c-green);
  color: var(--c-white);
  font-size: var(--font-size_s);
  border-radius: 0 0 10px 0;
}

.achievement .card .round {
  background: var(--c-grey);
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
  position: relative;
  margin: 0 auto 4rem;
}

.achievement .card .round img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.achievement .card h3 {
  display: block;
  font-size: var(--font-size_xxl);
  line-height: 1.7;
  text-align: center;
  margin-bottom: 3rem;
}

.achievement .card h3::before, .achievement .card h3::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
}

.achievement .card h3::before {
  margin-top: calc((1 - 1.7) * 0.5em);
}

.achievement .card h3::after {
  margin-bottom: calc((1 - 1.7) * 0.5em);
}

.achievement .card dl dt {
  font-size: var(--font-size_l);
  font-weight: var(--font-weight_bold);
  line-height: 1.7;
  color: var(--c-blue);
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 0.2rem solid var(--c-blue);
  margin-bottom: 2rem;
}

.achievement .card dl dt::before, .achievement .card dl dt::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
}

.achievement .card dl dt::before {
  margin-top: calc((1 - 1.7) * 0.5em);
}

.achievement .card dl dt::after {
  margin-bottom: calc((1 - 1.7) * 0.5em);
}

.achievement .card dl dd {
  font-size: var(--font-size_m);
  font-weight: var(--font-weight_bold);
  line-height: 1.7;
}

.achievement .card dl dd::before, .achievement .card dl dd::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
}

.achievement .card dl dd::before {
  margin-top: calc((1 - 1.7) * 0.5em);
}

.achievement .card dl dd::after {
  margin-bottom: calc((1 - 1.7) * 0.5em);
}

.about .l-container.title {
  padding: 150px 0 0;
}

@media screen and (max-width: 980px) {
  .about .l-container.title {
    padding: 8rem 1.5rem 0;
  }
  .about .l-container.title p {
    text-align: left;
  }
}

.about .u-about-title {
  font-size: var(--font-size_xl);
  color: var(--c-blue);
  margin-bottom: 2rem;
}

.about .l-container {
  padding: 10rem 0;
}

@media screen and (max-width: 1130px) {
  .about .l-container {
    padding: 10rem 3rem;
  }
}

@media screen and (max-width: 980px) {
  .about .l-container {
    padding: 8rem 1.5rem;
  }
}

.about .l-container h3 {
  margin-bottom: 67px;
}

@media screen and (max-width: 980px) {
  .about .l-container h3 {
    margin-bottom: var(--mb-sp_normal);
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.about .l-container h3 .num {
  font-size: 8rem;
  color: var(--c-white);
  text-stroke: 1px var(--c-blue);
  -webkit-text-stroke: 1px var(--c-blue);
  padding-right: 2rem;
}

@media screen and (max-width: 980px) {
  .about .l-container h3 .num {
    font-size: 7rem;
  }
}

.about .l-container h3 p {
  font-size: var(--font-size_xxl);
  line-height: 1.7;
}

.about .l-container h3 p::before, .about .l-container h3 p::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
}

.about .l-container h3 p::before {
  margin-top: calc((1 - 1.7) * 0.5em);
}

.about .l-container h3 p::after {
  margin-bottom: calc((1 - 1.7) * 0.5em);
}

.about .l-container h3 p.c-blue {
  font-size: var(--font-size_l);
  padding-bottom: 1rem;
}

@media screen and (max-width: 980px) {
  .about .l-container h3 p {
    font-size: var(--font-size_xxxl);
  }
  .about .l-container h3 p.c-blue {
    padding-bottom: 1.5rem;
  }
}

.about .c-text-m {
  text-align: center;
}

.about .first .c-flex-start {
  gap: 0 64px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .first .c-flex-start ul.c-text-l {
  margin-bottom: 2.5rem;
}

@media screen and (max-width: 980px) {
  .about .first .c-flex-start {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about .first .c-flex-start ul.c-text-l {
    margin-bottom: var(--mb-sp_normal);
  }
}

.about .first .c-flex-start figcaption .c-check {
  margin-bottom: 2rem;
}

@media screen and (max-width: 600px) {
  .about .first .c-flex-start figcaption .c-check {
    margin-bottom: 2.5rem;
  }
}

.about .first .c-flex-start figcaption p {
  margin-bottom: var(--mb-sp_normal);
}

.about .second .u-second-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 64px 20px;
  margin-bottom: 2rem;
}

@media screen and (max-width: 980px) {
  .about .second .u-second-content {
    display: block;
    margin-bottom: var(--mb-sp_normal);
  }
}

.about .second figure.u-frame {
  width: calc(50% - 10px);
}

@media screen and (max-width: 980px) {
  .about .second figure.u-frame {
    width: 100%;
  }
  .about .second figure.u-frame:first-child {
    margin-bottom: 2rem;
  }
}

.about .second figure.u-frame span {
  border: 5px solid var(--c-blue);
  border-radius: 100%;
  width: 10rem;
  height: 10rem;
  background: var(--c-white);
  position: relative;
  z-index: 1;
}

.about .second figure.u-frame span img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.about .second figure.u-frame figcaption {
  border: 5px solid var(--c-blue);
  padding: 3.9rem 2rem 3.9rem 7rem;
  margin-left: -5rem;
  height: 10rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: var(--c-white);
  position: relative;
}

.about .second figure.u-frame figcaption p {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.about .third dl.u-thrird-content-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 980px) {
  .about .third dl.u-thrird-content-top {
    gap: 0.5rem;
  }
}

.about .third dl.u-thrird-content-top dt {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  display: inline-block;
  padding: 3.94rem 0 3.86rem 0;
  border-radius: 1rem 1rem 0 0;
  background: var(--c-blue);
  text-align: center;
}

.about .third dl.u-thrird-content-top dt dfn {
  font-size: var(--font-size_xl);
  font-weight: var(--font-weight_bold);
  color: var(--c-white);
}

@media screen and (max-width: 980px) {
  .about .third dl.u-thrird-content-top dt {
    padding: 2rem 0;
  }
  .about .third dl.u-thrird-content-top dt dfn {
    font-size: 2.2rem;
  }
}

.about .third dl.u-thrird-content-top dd {
  width: calc(50% - 0.5rem);
  display: inline-block;
  padding: 3rem 2rem;
  font-size: var(--font-size_l);
  font-weight: var(--font-weight_bold);
  line-height: 1.7;
  background: var(--c-blue_02);
}

.about .third dl.u-thrird-content-top dd::before, .about .third dl.u-thrird-content-top dd::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
}

.about .third dl.u-thrird-content-top dd::before {
  margin-top: calc((1 - 1.7) * 0.5em);
}

.about .third dl.u-thrird-content-top dd::after {
  margin-bottom: calc((1 - 1.7) * 0.5em);
}

.about .third dl.u-thrird-content-top dd:last-child {
  width: 100%;
}

@media screen and (max-width: 980px) {
  .about .third dl.u-thrird-content-top dd {
    width: 100%;
    padding: 2rem;
  }
}

.about .third .u-third-content-bottom {
  border: 1.1rem solid var(--c-grey_02);
  padding: 3.9rem;
}

@media screen and (max-width: 980px) {
  .about .third .u-third-content-bottom {
    padding: 3rem;
    padding-bottom: 4rem;
  }
}

.about .third .u-third-content-bottom h5 {
  font-size: var(--font-size_xl);
  color: var(--c-blue);
  margin-bottom: 2.1rem;
}

@media screen and (max-width: 980px) {
  .about .third .u-third-content-bottom h5 {
    margin-bottom: 2.5rem;
  }
}

.about .third .u-third-content-bottom ul {
  border-top: 1px solid var(--c-grey_02);
  border-left: 1px solid var(--c-grey_02);
  margin-bottom: 2rem;
}

@media screen and (max-width: 980px) {
  .about .third .u-third-content-bottom ul {
    margin-bottom: var(--mb-sp_tight);
  }
}

.about .third .u-third-content-bottom ul li {
  border-right: 1px solid var(--c-grey_02);
  border-bottom: 1px solid var(--c-grey_02);
  display: block;
  width: 50%;
  padding: 2rem 2rem 1.9rem 2rem;
  font-size: var(--font-size_l);
  font-weight: var(--font-weight_bold);
  background: var(--c-grey);
}

@media screen and (max-width: 980px) {
  .about .third .u-third-content-bottom ul li {
    width: 100%;
  }
}

.about .third .u-third-content-bottom ul li .small {
  font-size: var(--font-size_s);
}

.about .third .u-third-content-bottom ul li .c-check {
  margin-bottom: 0;
}

.about .third .u-third-content-bottom ul li .c-check:before {
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.about .forth .c-text-m {
  text-align: left;
  margin-bottom: 4rem;
}

.about .forth table {
  table-layout: fixed;
  font-size: var(--font-size_m);
  line-height: 1.7;
  border-spacing: 0.5rem;
  border-collapse: separate;
  margin-bottom: 4rem;
  width: 100%;
}

.about .forth table.u-table-pc {
  display: table;
}

@media screen and (max-width: 980px) {
  .about .forth table.u-table-pc {
    display: none;
  }
}

.about .forth table.u-table-sp {
  display: none;
}

@media screen and (max-width: 980px) {
  .about .forth table.u-table-sp {
    table-layout: fixed;
    width: calc(100% + 1rem);
    margin: auto -0.5rem;
    display: table;
    margin-bottom: var(--mb-sp_normal);
  }
}

.about .forth table tr th, .about .forth table tr td {
  padding: 2rem 1.3rem 2rem 2rem;
}

@media screen and (max-width: 980px) {
  .about .forth table tr th, .about .forth table tr td {
    padding: 1rem;
  }
}

.about .forth table tr th {
  width: calc(100% / 5);
  font-weight: var(--font-weight_bold);
  color: var(--c-white);
}

@media screen and (max-width: 980px) {
  .about .forth table tr th {
    width: auto;
  }
}

.about .forth table tr th.u-th-blue {
  background-color: var(--c-blue);
  border-radius: 1rem 1rem 0 0;
  line-height: 1;
}

@media screen and (max-width: 980px) {
  .about .forth table tr th.u-th-blue {
    padding: 2rem;
    text-align: center;
  }
}

.about .forth table tr th.u-th-grey {
  background-color: var(--c-grey_03);
  vertical-align: middle;
}

@media screen and (max-width: 980px) {
  .about .forth table tr th.u-th-grey {
    width: 210px;
  }
}

@media screen and (max-width: 980px) and (max-width: 480px) {
  .about .forth table tr th.u-th-grey {
    width: 113px;
  }
}

.about .forth table tr td {
  background-color: var(--c-white);
}

.about .forth table tr td .small {
  font-size: var(--font-size_s);
  line-height: calc(24/14);
}

@media screen and (max-width: 980px) {
  .about .forth table tr td {
    vertical-align: middle;
  }
}

.about .forth table caption {
  font-weight: var(--font-weight_bold);
  color: var(--c-white);
  background-color: var(--c-blue);
  border-radius: 1rem 1rem 0 0;
  line-height: 1;
  width: calc(100% - 1rem);
  margin: auto;
}

@media screen and (max-width: 980px) {
  .about .forth table caption {
    padding: 2rem;
    text-align: center;
  }
}

.about .fifth .u-fifth-content {
  gap: var(--c-gap);
  position: relative;
  margin-bottom: 4rem;
}

@media screen and (max-width: 980px) {
  .about .fifth .u-fifth-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
  }
}

.about .fifth .u-fifth-content .left,
.about .fifth .u-fifth-content .right {
  width: 50%;
  padding: 4rem;
  text-align: center;
}

@media screen and (max-width: 980px) {
  .about .fifth .u-fifth-content .left,
  .about .fifth .u-fifth-content .right {
    width: 100%;
    padding: 6rem 4rem;
  }
}

.about .fifth .u-fifth-content .left .title,
.about .fifth .u-fifth-content .right .title {
  font-weight: var(--font-weight_bold);
  font-size: var(--font-size_l);
  padding-bottom: 1rem;
  border-bottom: 2px solid;
  margin-bottom: 1.7rem;
}

.about .fifth .u-fifth-content .left .price,
.about .fifth .u-fifth-content .right .price {
  font-size: var(--font-size_l);
  font-weight: var(--font-weight_bold);
  margin: 2rem;
}

.about .fifth .u-fifth-content .left .price .large,
.about .fifth .u-fifth-content .right .price .large {
  font-size: var(--font-size_xxxl);
}

.about .fifth .u-fifth-content .left .notice,
.about .fifth .u-fifth-content .right .notice {
  font-size: var(--font-size_s);
  font-weight: 400;
}

.about .fifth .u-fifth-content .left {
  background-color: var(--c-blue);
  color: var(--c-white);
  border-color: var(--c-white);
}

@media screen and (max-width: 980px) {
  .about .fifth .u-fifth-content .left {
    position: relative;
  }
  .about .fifth .u-fifth-content .left::after {
    content: url(assets/images/about/icon-plus.svg);
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, -45%);
            transform: translate(-50%, -45%);
  }
}

.about .fifth .u-fifth-content .right {
  background-color: var(--c-grey);
  color: var(--c-blue);
  border-color: var(--c-blue);
}

.about .fifth .u-fifth-content .right .notice {
  color: var(--c-black);
}

.about .fifth .u-fifth-content .c-img-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

@media screen and (max-width: 980px) {
  .about .fifth .u-fifth-content .c-img-wrap {
    display: none;
  }
}

/* スクロール用アニメーション c-fadeは必須 (例 "c-fade c-right") */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes rightIn {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes rightIn {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes leftIn {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes leftIn {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes bottomIn {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bottomIn {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes leftInBit {
  0% {
    -webkit-transform: translateX(-1em);
            transform: translateX(-1em);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes leftInBit {
  0% {
    -webkit-transform: translateX(-1em);
            transform: translateX(-1em);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.c-fade {
  opacity: 0;
}

.c-fade.fade-v {
  -webkit-animation: fadeIn 1s ease forwards;
          animation: fadeIn 1s ease forwards;
}

.c-right {
  opacity: 0;
}

.c-right.fade-v {
  -webkit-animation: rightIn 1s ease forwards;
          animation: rightIn 1s ease forwards;
}

.c-left {
  opacity: 0;
}

.c-left.fade-v {
  -webkit-animation: leftIn 1s ease forwards;
          animation: leftIn 1s ease forwards;
}

.c-bottom {
  opacity: 0;
}

.c-bottom.fade-v {
  -webkit-animation: bottomIn 1s ease forwards;
          animation: bottomIn 1s ease forwards;
}

.c-left-bit {
  opacity: 0;
}

.c-left-bit.fade-v {
  -webkit-animation: leftIn 1s ease forwards;
          animation: leftIn 1s ease forwards;
}

/* 順番表示 */
.c-right-order {
  opacity: 0;
}

.c-right-order.fade-v:nth-child(1) {
  -webkit-animation: 1s rightIn 0.1s ease forwards;
          animation: 1s rightIn 0.1s ease forwards;
}

.c-right-order.fade-v:nth-child(2) {
  -webkit-animation: 1s rightIn 0.2s ease forwards;
          animation: 1s rightIn 0.2s ease forwards;
}

.c-right-order.fade-v:nth-child(3) {
  -webkit-animation: 1s rightIn 0.3s ease forwards;
          animation: 1s rightIn 0.3s ease forwards;
}

.c-right-order.fade-v:nth-child(4) {
  -webkit-animation: 1s rightIn 0.4s ease forwards;
          animation: 1s rightIn 0.4s ease forwards;
}

.c-right-order.fade-v:nth-child(5) {
  -webkit-animation: 1s rightIn 0.5s ease forwards;
          animation: 1s rightIn 0.5s ease forwards;
}

.c-right-order.fade-v:nth-child(6) {
  -webkit-animation: 1s rightIn 0.6s ease forwards;
          animation: 1s rightIn 0.6s ease forwards;
}

.c-right-order.fade-v:nth-child(7) {
  -webkit-animation: 1s rightIn 0.7s ease forwards;
          animation: 1s rightIn 0.7s ease forwards;
}

.c-right-order.fade-v:nth-child(8) {
  -webkit-animation: 1s rightIn 0.8s ease forwards;
          animation: 1s rightIn 0.8s ease forwards;
}

.c-right-order.fade-v:nth-child(9) {
  -webkit-animation: 1s rightIn 0.9s ease forwards;
          animation: 1s rightIn 0.9s ease forwards;
}

.c-right-order.fade-v:nth-child(10) {
  -webkit-animation: 1s rightIn 1.0s ease forwards;
          animation: 1s rightIn 1.0s ease forwards;
}

.c-right-order.fade-v:nth-child(11) {
  -webkit-animation: 1s rightIn 1.1s ease forwards;
          animation: 1s rightIn 1.1s ease forwards;
}

.c-right-order.fade-v:nth-child(12) {
  -webkit-animation: 1s rightIn 1.2s ease forwards;
          animation: 1s rightIn 1.2s ease forwards;
}

.c-right-order.fade-v:nth-child(13) {
  -webkit-animation: 1s rightIn 1.3s ease forwards;
          animation: 1s rightIn 1.3s ease forwards;
}

.c-right-order.fade-v:nth-child(14) {
  -webkit-animation: 1s rightIn 1.4s ease forwards;
          animation: 1s rightIn 1.4s ease forwards;
}

.c-right-order.fade-v:nth-child(15) {
  -webkit-animation: 1s rightIn 1.5s ease forwards;
          animation: 1s rightIn 1.5s ease forwards;
}

.c-right-order.fade-v {
  -webkit-animation: rightIn 1s ease forwards;
          animation: rightIn 1s ease forwards;
}

.c-bottom-order {
  opacity: 0;
}

.c-bottom-order.fade-v:nth-child(1) {
  -webkit-animation: 1s bottomIn 0.1s ease forwards;
          animation: 1s bottomIn 0.1s ease forwards;
}

.c-bottom-order.fade-v:nth-child(2) {
  -webkit-animation: 1s bottomIn 0.2s ease forwards;
          animation: 1s bottomIn 0.2s ease forwards;
}

.c-bottom-order.fade-v:nth-child(3) {
  -webkit-animation: 1s bottomIn 0.3s ease forwards;
          animation: 1s bottomIn 0.3s ease forwards;
}

.c-bottom-order.fade-v:nth-child(4) {
  -webkit-animation: 1s bottomIn 0.4s ease forwards;
          animation: 1s bottomIn 0.4s ease forwards;
}

.c-bottom-order.fade-v:nth-child(5) {
  -webkit-animation: 1s bottomIn 0.5s ease forwards;
          animation: 1s bottomIn 0.5s ease forwards;
}

.c-bottom-order.fade-v:nth-child(6) {
  -webkit-animation: 1s bottomIn 0.6s ease forwards;
          animation: 1s bottomIn 0.6s ease forwards;
}

.c-bottom-order.fade-v:nth-child(7) {
  -webkit-animation: 1s bottomIn 0.7s ease forwards;
          animation: 1s bottomIn 0.7s ease forwards;
}

.c-bottom-order.fade-v:nth-child(8) {
  -webkit-animation: 1s bottomIn 0.8s ease forwards;
          animation: 1s bottomIn 0.8s ease forwards;
}

.c-bottom-order.fade-v:nth-child(9) {
  -webkit-animation: 1s bottomIn 0.9s ease forwards;
          animation: 1s bottomIn 0.9s ease forwards;
}

.c-bottom-order.fade-v:nth-child(10) {
  -webkit-animation: 1s bottomIn 1.0s ease forwards;
          animation: 1s bottomIn 1.0s ease forwards;
}

.c-bottom-order.fade-v:nth-child(11) {
  -webkit-animation: 1s bottomIn 1.1s ease forwards;
          animation: 1s bottomIn 1.1s ease forwards;
}

.c-bottom-order.fade-v:nth-child(12) {
  -webkit-animation: 1s bottomIn 1.2s ease forwards;
          animation: 1s bottomIn 1.2s ease forwards;
}

.c-bottom-order.fade-v:nth-child(13) {
  -webkit-animation: 1s bottomIn 1.3s ease forwards;
          animation: 1s bottomIn 1.3s ease forwards;
}

.c-bottom-order.fade-v:nth-child(14) {
  -webkit-animation: 1s bottomIn 1.4s ease forwards;
          animation: 1s bottomIn 1.4s ease forwards;
}

.c-bottom-order.fade-v:nth-child(15) {
  -webkit-animation: 1s bottomIn 1.5s ease forwards;
          animation: 1s bottomIn 1.5s ease forwards;
}

.c-bottom-order.fade-v {
  -webkit-animation: bottomIn 1s ease forwards;
          animation: bottomIn 1s ease forwards;
}
/*# sourceMappingURL=style.css.map */