@import "./assets/css/common.scss";

/*-------------------------------------------------
	Custom Properties
---------------------------------------------------*/
:root {
	/* Color */
    --c-blue:  rgba(0, 108, 190, 1);
        --c-blue_50:  rgba(0, 108, 190, .5);
        --c-blue_02:  rgba(242, 249, 255, 1);
    --c-green:  rgba(82, 190, 0, 1);
        --c-green_50:  rgba(82, 190, 0, .5);
    --c-grey:  rgba(248, 248, 248, 1);
    --c-grey_02:  rgba(204, 204, 204, 1);
    --c-grey_03:  rgba(75, 84, 90, 1);
	--c-black: rgba(51, 51, 51, 1);
	--c-white: rgba(255, 255, 255, 1);
		--c-white_10: rgba(255, 255, 255, .1);
		--c-white_50: rgba(255, 255, 255, .5);
		--c-white_90: rgba(255, 255, 255, .9);
	/* Font Size */
	--font-size_base: 62.5%;
	--font-size_xs: 1rem;
	--font-size_s: 1.4rem;
	--font-size_m: 1.6rem;
	--font-size_l: clamp(1.8rem, 2.2vw, 2rem);
	--font-size_xl: clamp(2rem, 2.4vw, 2.4rem);
	--font-size_xxl: clamp(2.2rem, 3.3vw, 3.6rem);
	--font-size_xxxl: clamp(3rem, 4.5vw, 4.8rem);
	/* Padding */
	--pd-inr-side: 24px;
	/* Height */
	--h-header: 6rem;
	--h-footer: 20rem;
	--h-slider: 80rem;
	/* Width */
	--w-side: 25rem;
	/* Border */
	--b-radius: 4px;

	/* Slider */
	--h-slider: 50rem;

    /* font-weight */
    --font-weight_thin: 300; 
    --font-weight_normal: 400; 
    --font-weight_bold: 600;

    /* line-height */
    --c-line_normal: 1.5em;
    --c-line_relaxed: 1.7em;
    --c-line_loose: 2em;

    /* gap */
    --c-gap: 6rem 2.4rem;
    --c-gap_sp: 3rem 1.5rem;

    /* transition */
    --transition: all 0.3s ease-in-out;

    /* margin */
    --mb-sp_normal: 4rem;
    --mb-sp_harf: 2rem;
    --mb-sp_tight: 1rem;
}

/*-------------------------------------------------
	Variant
---------------------------------------------------*/
    $leading_normal: 1.5;
    $leading_relaxed: 1.7;
    $leading_loose: 2;
/*-------------------------------------------------
	Reset
---------------------------------------------------*/
body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, tr, td, th, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	background: transparent;
	border: 0;
	border-spacing: 0;
	box-sizing: border-box;
	font-style: normal;
	list-style: none;
	margin: 0;
	outline: 0;
	padding: 0;
	text-decoration: none;
	vertical-align: baseline;
}

html {
	font-size: var(--font-size_base);
	line-height: 1;
}

a, address {
	color: var(--c-black);
	text-decoration: none;
	font-style: normal;
}

h1, h2, h3, h4, h5, h6{
    font-weight: var(--font-weight_bold);
}

a:visited {
	/* color: var(--c-black); */
}

@mixin lineHeight($line-height) {
    &::before,
    &::after {
        content: "";
        display: block;
        width: 0;
        height: 0;
    }
    &::before {
        margin-top: calc((1 - #{$line-height}) * 0.5em);
    }
    &::after {
        margin-bottom: calc((1 - #{$line-height}) * 0.5em);
    }
  }

/*-------------------------------------------------
	Common
---------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

html {
	height: 100%;
}
body {
	color: var(--c-black);
	height: 100%;
}

.c-strong {
	font-weight: bold;
}

.l-pattern{
    background-image: url(assets/images/bg.svg);
    background-size: cover;
}
.l-white{
    background-color: var(--c-white);
}
.l-inner{
    padding: 0 3rem 15rem;
    @include sp {
        padding: 0 1.5rem 8rem;
    }
}
.c-blue{
    color: var(--c-blue);
}
.c-title{
    font-size: var(--font-size_xxxl);
    color: var(--c-black);
    text-align: center;
    margin-bottom: 8rem;
    @include sp {
        margin-bottom: 4rem;
    }
}
.c-text{
    &-l{
        font-size: var(--font-size_l);
        line-height: $leading_relaxed;
        @include lineHeight($leading_relaxed);
    }
    &-m{
        font-size: var(--font-size_m);
        line-height: $leading_relaxed;
        @include lineHeight($leading_relaxed);
    }
    &-s{
        font-size: var(--font-size_s);
        line-height: $leading_relaxed;
        @include lineHeight($leading_relaxed);
    }
}
.c-thin{
    font-weight: var(--font-weight_thin);
}
.c-bold{
    font-weight: var(--font-weight_bold);
}

.u-justify-end{
    justify-content: end;
}

header{
    nav{
        position: absolute;
        top: 0;
        right: 80px;
        width: fit-content;
        z-index: 50;
        &.js-scroll-header{
            width: 100%;
            height: fit-content;
            display: flex;
            position: fixed;
            padding: 0 8rem 0 3rem;
            top: 0;
            right: auto;
            justify-content: space-between;
            transform: translateY(-100%);
            transition: var(--transition);
            background: var(--c-white);
            padding-bottom: 15px;
            z-index: 60;
            @include sp{
                padding: 0;
                .nav-inner{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 1.5rem 3rem;
                    width: 100%;
                    @include sp {
                        padding: 1em 1.5em;
                    }
                }
            }
            &.active{
                transform: translateY(0);
            }
            a.u-logo{
                display: block;
                height: 60px;
                margin-top: 20px;
                @include sp {
                    width: fit-content;
                    margin-top: 0;
                }
                @include sp {
                    height: 32px;
                }
                img{
                    object-fit: contain;
                    height: 100%;
                    width: auto;
                }
            }
            .js-nav-btn{
                width: 40px;
                height: 22px;
                position: relative;
                cursor: pointer;
                span{
                    display: block;
                    width: 100%;
                    height: 2px;
                    background: var(--c-blue);
                    transition: var(--transition);
                    position: absolute;
                    &:nth-child(1){
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                    &:nth-child(2){
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                    }
                    &:nth-child(3){
                        top: 100%;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }
            .active.js-nav-btn{
                span{
                    &:nth-child(1){
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%) rotate(30deg);
                    }
                    &:nth-child(2){
                        opacity: 0;
                    }
                    &:nth-child(3){
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%) rotate(-30deg);
                    }
                }
            }
            .js-scroll-header-content{
                .top{
                    padding-bottom: 2rem;
                }
                @include sp {
                    background: var(--c-white);
                    width: 100%;
                    height: 0;
                    overflow-y: scroll;
                    display: flex;
                    flex-direction: column-reverse;
                    justify-content: start;
                    transition: var(--transition);
                    position: fixed;
                    top: 90px;
                    @include sp {
                        top: 44.5px;
                    }
                    &.active{
                    height: 100vh;
                    }
                    .top,
                    .bottom{
                        gap: 0;
                        width: 100%;
                        flex-direction: column;
                    }
                    .bottom{
                        margin-bottom: 4rem;
                        li{
                            width: 100%;
                            a{
                                display: block;
                                width: 100%;
                                padding: 2.5rem 3rem 2.6rem;
                                @include sp {
                                    padding: 2.5rem 1.5rem 2.6rem 1.5rem;
                                }
                            }
                            border-bottom: 1px solid var(--c-grey_02);
                            position: relative;
                            &:first-child{
                                border-top: 1px solid var(--c-grey_02);
                            }
                            &:after{
                                content: url(assets/images/svg/icon-arrow.svg);
                                position: absolute;
                                top: 50%;
                                transform: translateY(-50%);
                                right: 3rem;
                                @include sp {
                                    right: 1.5rem;
                                }
                            }
                        }
                    }
                    .header-btn{
                        width: fit-content;
                        min-width: 345px;
                        border-radius: 0.4em;
                        padding: 2em;
                        margin: 0 auto 2rem;
                        justify-content: center;
                        @media screen and (max-width:375px) {
                            min-width: 300px;
                        }
                    }
                }
            }
        }
        ul{
            display: flex;
            justify-content: end;
            &:first-child{
                gap: 10px;
                padding-bottom: 30px;
            }
            &:nth-child(2){
                gap: 30px;
            }
            li{
                .header-btn{
                    color: #fff;
                    font-weight: var(--font-weight_bold);
                    border-radius: 0 0 4px 4px;
                    padding: 15px 40px !important;
                    display: flex;
                    align-items: center;
                    justify-items: center;
                    img{
                        margin-right: 5px;
                    }
                }
                .u-contact{
                    background: var(--c-blue);
                }
                .u-booking{
                    background: var(--c-green);
                }
                .header-nav{
                    font-weight: var(--font-weight_bold);
                    color: bar(--c-black);
                }
            }
        }
    }
    .item{
        font-size: var(--font-size_m);
        font-weight: var(--font-weight_bold);
    }
}

.wrap{
    max-width: 1080px;
    margin: auto;
}

.c-flex{
    &-start{
        display: flex;
        align-items: flex-start;
    }
    &-center{
        display: flex;
        align-items: center;
    }
    &-end{
        display: flex;
        align-items: flex-end;
    }
    &-wrap{
        display: flex;
        flex-wrap: wrap;
    }
}

.c-check{
    position: relative;
    padding-left: 1.5em;
    line-height: $leading_relaxed;
    &:before{
        content: url(assets/images/svg/icon-check.svg);
        display: block;
        height: 1em;
        width: 1em;
        position: absolute;
        top: 0.1em;
        left: 0;
    }
    &::after{
        content: "";
        display: block;
        width: 0;
        height: 0;
        margin-bottom: calc((1 - 1.7) * 1em);
    }
}

.c-bnr{
    position: fixed;
    z-index: 40;
    right: 9rem;
    bottom: 4rem;
    width: 50%;
    max-width: 390px;
    min-width: 195px;
    height: fit-content;
    @include xl {
        right: 4rem;
    }
    @include md {
        bottom: 1.5rem;
        right: 1.5rem;
    }
    .c-img-wrap{
        position: relative;
        width: 100%;
        height: 100%;
        display: block;
        .u-close-btn{
            cursor: pointer;
            display: block;
            width: 20px;
            height: 20px;
            position: absolute;
            top: -10px;
            right: -10px;
        }
    }
}
.hero{
    width: 100%;
    height: fit-content;
    background: url(assets/images/hero/bg.png) no-repeat center / cover;
    @include sp{
        background: none;
    }
    h1{
        padding-top: 14rem;
        @include sp {
            height: calc(240 /375 * 100%);
            padding: 4rem 1.5rem 0;
            background: url(assets/images/hero/bg.png) no-repeat center / cover;
            margin-bottom: 6rem;
        }
        .c-img-wrap{
            &.logo{
                display: block;
                width: 560px;
                margin: auto;
                margin-bottom: 8rem;
                @include sp {
                    width: calc(280 / 375 * 100%);
                    min-width: 280px;
                    margin-bottom: -1rem;
                }
                img{
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    .u-pc-img{
        &.u-pc{
            width: calc(700 / 1080 * 100%);
            position: absolute;
            right: 0;
            bottom: -4rem;
        }
        &.u-sp{
            width: calc(280 / 375 * 100%);
            min-width: 280px;
            margin-right: 0;
            margin-left: auto;
            position: relative;
            bottom: -3rem;
        }
    }
    .wrap{
        position: relative;
        max-width: 1130px;
        padding: 0 30px;
        @include sp {
            padding: 0 1.5rem;
        }
        p{
            display: inline-block;
            width: calc(735 / 1080 * 100%);
            font-size: var(--font-size_xxl);
            line-height: $leading_relaxed;
            @include lineHeight($leading_relaxed);
            font-weight: var(--font-weight_bold);
            padding-bottom: 4rem;
            @include sp {
                width: 100%;
            }
        }
    }
    ul{
        padding-bottom: 19rem;
        @include sp {
            padding-bottom: 8rem;
        }
        li.c-check{
            font-size: var(--font-size_l);
            font-weight: var(--font-weight_bold);
            margin-bottom: 2rem;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}
.case{
    padding-top: 15rem;
    h2{
        font-size: var(--font-size_l);
        margin-bottom: 6rem;
        text-align: center;
        line-height: $leading_relaxed;
        @include lineHeight($leading_relaxed);
    }
    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: var(--c-gap);
        @include sp {
            gap: 4rem 1.5rem;
        }        
        .card{
            position: relative;
            padding: 3rem 2.2rem 3rem 2rem;
            background: #fff;
            border: 1px solid #ccc;
            width: 252px;
            @include md {
                width: 165px;
                padding: 4rem 1.5rem;
            }
            h4{
	            font-size: var(--font-size_l);
                color: #006CBE;
            }
            @include lineHeight($leading_relaxed);
            .c-img-wrap{
                position: absolute;
                left: 2rem;
                top: -2.4rem;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
                &.img01{
                    width: 36px;
                    height: 40px;
                }
                &.img02{
                    width: 46px;
                    height: 40px;
                }
                &.img03{
                    width: 41px;
                    height: 37px;
                }
                &.img04{
                    width: 45px;
                    height: 40px;
                }
                &.img05{
                    width: 38px;
                    height: 40px;
                }
                &.img06{
                    width: 37px;
                    height: 30px;
                }
                &.img07{
                    width: 52px;
                    height: 40px;
                }
                &.img08{
                    width: 51px;
                    height: 40px;
                }
            }
        }
    }
}

.needs{
    padding-top: 15rem;
    @include sp {
        padding-top: 0;
        h2{
            line-height: $leading_relaxed;
            @include lineHeight($leading_relaxed);
        }
    }
    dl{
        dt{
            background: var(--c-blue);
            color: var(--c-white);
            position: relative;
            padding: 41px 24px 42px 24px;
            border-radius: 10px 10px 0 0;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 9px;
            @include sp {
                flex-direction: column;
                padding: 2rem;
            }
            &::after{
                content: '';
                background: url(assets/images/needs/triangle_bl.svg);
                display: block;
                width: 23px;
                height: 15px;
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translateX(-50%);
                z-index: 10;
            }
            p.c-needs-header{
                text-align: center;
                font-weight: var(--font-weight_bold);
                span{
                    display: block;
                    font-size: var(--font-size_s);
                    margin-bottom: 0.5rem;
                    &.num{
                        font-size: var(--font-size_l);
                    }
                }
            }
            h3{
                font-size: var(--font-size_xxl);
                line-height: $leading_relaxed;
                @include lineHeight($leading-loose);
            }
        }
        dd{
            background: var(--c-white);
            border-radius: 0 0 10px 10px;
            padding: 4rem;
            margin-bottom: 8rem;
            @include sp {
                padding: 4rem 2rem;
            }
            &:last-child{
                margin-bottom: 0;
            }
            .description{
                font-size: var(--font-size_m);
                font-weight: var(--font-weight_bold);
                margin-bottom: 40px;
                line-height: $leading_relaxed;
                @include lineHeight($leading-relaxed);
                text-align: center;
                @include sp {
                    text-align: left;
                }
            }
            .c-flex-start{
                flex-wrap: wrap;
                justify-content: center;
            }
            .left{
                width: 250px;
                margin-right: 40px;
                flex-shrink: 0;
                @include sp {
                    width: 100%;
                    margin: auto;
                    margin-bottom: 40px;
                }
                h4{
                    font-size: var(--font-size_s);
                    margin-bottom: 1rem;
                }
                figure{
                    display: flex;
                    align-items: center;
                    padding-bottom: 10px;
                    margin-bottom: 20px;
                    border-bottom: 2px solid var(--c-blue);
                    img{
                        width: 80px;
                        height: 80px;
                        object-fit: contain;
                        margin-right: 17px;
                    }
                    figcaption{
                        p{
                            font-size: var(--font-size_l);
                            font-weight: var(--font-weight_bold);
                            line-height: $leading_relaxed;
                        }
                    }
                }
                p.c-copy{
                    font-size: var(--font-size_m);
                    font-weight: var(--font-weight_thin);
                    line-height: $leading_relaxed;
                    @include lineHeight($leading_relaxed);
                }
            }
            .right{
                width: calc(100% - 250px - 40px);
                img{
                    width: 100%;
                }
                @include sp {
                    width: 100%;
                    min-width: initial;
                }
            }
        }

    }
}

.consultation{
    background: url(assets/images/consultation/bg.jpg) no-repeat center;
    background-size: cover;
    color: var(--c-white);
    padding: 10rem 3rem;
    h2{
        font-size: var(--font-size_xxxl);
        font-weight: var(--font-weight_bold);
        margin-bottom: 3rem;
        text-align: center;
    }
    .c-btn{
        display: block;
        width: fit-content;
        font-size: var(--font-size_xl);
        font-weight: var(--font-weight_bold);
        background-color: var(--c-green);
        padding: 3rem 10rem;
        border-radius: 4px;
        color: var(--c-white);
        margin: 0 auto 2rem;
        text-align: center;
        @include sp {
            padding: 3rem 0;
            width: 100%;
            max-width: 416px;
        }
    }
    p{
        font-size: var(--font-size_m);
        font-weight: var(--font-weight_bold);
        line-height: $leading_relaxed;
        @include lineHeight($leading_relaxed);
        text-align: center;
        @include sm {
            text-align: left;
        }
    }
}

.achievement{
    .c-title{
        .small{
            font-size: var(--font-size_xl);
        }
    }
    .c-flex-wrap{
        gap: var(--c-gap);
        @include sp {
            gap: var(--c-gap_sp);
        }        
        justify-content: center;
    }
    .card{
        width: calc(50% - 12px);
        padding: 3.9rem;
        border: 1.1rem solid var(--c-blue);
        background: var(--c-white);
        position: relative;
        @include sp {
            width: 100%;
        }
        h4{
            position: absolute;
            top: -1.1rem;
            left: -1.1rem;
            padding: 0.9rem 1.4rem;
            background-color: var(--c-green);
            color: var(--c-white);
            font-size: var(--font-size_s);
            border-radius: 0 0 10px 0;
        }
        .round{
            background: var(--c-grey);
            width: 8rem;
            height: 8rem;
            border-radius: 100%;
            position: relative;
            margin: 0 auto 4rem;
            img{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }
        h3{
            display: block;
            font-size: var(--font-size_xxl);
            line-height: $leading_relaxed;
            @include lineHeight($leading_relaxed);
            text-align: center;
            margin-bottom: 3rem;
        }
        dl{
            dt{
                font-size: var(--font-size_l);
                font-weight: var(--font-weight_bold);
                line-height: $leading_relaxed;
                @include lineHeight($leading_relaxed);
                color: var(--c-blue);
                text-align: center;
                padding-bottom: 1rem;
                border-bottom: 0.2rem solid var(--c-blue);
                margin-bottom: 2rem;
            }
            dd{
                font-size: var(--font-size_m);
                font-weight: var(--font-weight_bold);
                line-height: $leading_relaxed;
                @include lineHeight($leading_relaxed);
            }
        }
    }
}

.about{
    .l-container.title{
        padding: 150px 0 0;
        @include sp {
            padding: 8rem 1.5rem 0;
            p{
                text-align: left;
            }
        }
    }
    .u-about-title{
        font-size: var(--font-size_xl);
        color: var(--c-blue);
        margin-bottom: 2rem;
    }
    .l-container{
        padding: 10rem 0;
        @include xl {
            padding: 10rem 3rem;
        }
        @include sp {
            padding: 8rem 1.5rem;
        }
        h3{
            margin-bottom: 67px;
            @include sp {
                margin-bottom: var(--mb-sp_normal);
                align-items: flex-start;
            }
            .num{
                font-size: 8rem;
                color: var(--c-white);
                text-stroke: 1px var(--c-blue);
                -webkit-text-stroke: 1px var(--c-blue);
                padding-right: 2rem;
                @include sp {
                    font-size: 7rem;
                }
            }
            p{
                font-size: var(--font-size_xxl);
                line-height: $leading_relaxed;
                @include lineHeight($leading_relaxed)
                &.c-blue{
                    font-size: var(--font-size_l);
                    padding-bottom: 1rem;
                }
                @include sp {
                    font-size: var(--font-size_xxxl);
                    &.c-blue{
                        padding-bottom: 1.5rem;
                    }
                }
            }
        }
    }
    .c-text-m{
        text-align: center;
    }
    .first{
        .c-flex-start{
            gap: 0 64px;
            justify-content: center;
            ul.c-text-l{
                margin-bottom: 2.5rem;
            }
            @include sp {
                flex-direction: column-reverse;
                ul.c-text-l{
                    margin-bottom: var(--mb-sp_normal);
                }
            }
            figcaption{
                .c-check{
                    margin-bottom: 2rem;
                    @include md {
                        margin-bottom: 2.5rem;
                    }
                }
                p{
                    margin-bottom: var(--mb-sp_normal);
                }
            }
        }
    }
    .second{
        .u-second-content{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 64px 20px;
            margin-bottom: 2rem;
            @include sp {
                display: block;
                margin-bottom: var(--mb-sp_normal);
            }
        }
        figure{
            &.u-frame{
                width: calc(50% - 10px);
                @include sp {
                    width: 100%;
                    &:first-child{
                        margin-bottom: 2rem;
                    }
                }
                span{
                    border: 5px solid var(--c-blue);
                    border-radius: 100%;
                    width: 10rem;
                    height: 10rem;
                    background: var(--c-white);
                    position: relative;
                    z-index: 1;
                    img{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                    }
                }
                figcaption{
                    border: 5px solid var(--c-blue);
                    padding: 3.9rem 2rem 3.9rem 7rem;
                    margin-left: -5rem;
                    height: 10rem;
                    flex-grow: 1;
                    background: var(--c-white);
                    position: relative;
                    p{
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }
    .third{
        dl.u-thrird-content-top{
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            margin-bottom: 2rem;
            @include sp {
                gap: 0.5rem;
            }
            dt{
                flex-shrink: 0;
                width: 100%;
                display: inline-block;
                padding: 3.94rem 0 3.86rem 0;
                border-radius: 1rem 1rem 0 0;
                background: var(--c-blue);
                text-align: center;
                dfn{
                    font-size: var(--font-size_xl);
                    font-weight: var(--font-weight_bold);
                    color: var(--c-white);
                }
                @include sp {
                    padding: 2rem 0;
                    dfn{
                        font-size: 2.2rem;
                    }
                }
            }
            dd{
                width: calc(50% - 0.5rem);
                display: inline-block;
                padding: 3rem 2rem;
                font-size: var(--font-size_l);
                font-weight: var(--font-weight_bold);
                line-height: $leading-relaxed;
                @include lineHeight($leading-relaxed);
                background: var(--c-blue_02);
                &:last-child{
                    width: 100%;
                }
                @include sp {
                    width: 100%;
                    padding: 2rem;
                }
            }
        }
        .u-third-content-bottom{
            border: 1.1rem solid var(--c-grey_02);
            padding: 3.9rem;
            @include sp {
                padding: 3rem;
                padding-bottom: 4rem;
            }
            h5{
                font-size: var(--font-size_xl);
                color: var(--c-blue);
                margin-bottom: 2.1rem;
                @include sp {
                    margin-bottom: 2.5rem;
                }
            }
            ul{
                border-top: 1px solid var(--c-grey_02);
                border-left: 1px solid var(--c-grey_02);
                margin-bottom: 2rem;
                @include sp {
                    margin-bottom: var(--mb-sp_tight);
                }
                li{
                    border-right: 1px solid var(--c-grey_02);
                    border-bottom: 1px solid var(--c-grey_02);
                    display: block;
                    width: 50%;
                    padding: 2rem 2rem 1.9rem 2rem;
                    font-size: var(--font-size_l);
                    font-weight: var(--font-weight_bold);
                    background: var(--c-grey);
                    @include sp {
                        width: 100%;
                    }
                    .small{
                        font-size: var(--font-size_s);
                    }
                    .c-check{
                        margin-bottom: 0;
                        &:before{
                            top: 50%;
                            left: 0;
                            transform: translateY(-50%);
                        }
                    }
                }
            }
        }
    }
    .forth{
        .c-text-m{
            text-align: left;
            margin-bottom: 4rem;
        }
        table{
            table-layout: fixed;
            font-size: var(--font-size_m);
            line-height: $leading_relaxed;
            border-spacing: 0.5rem;
            border-collapse: separate;
            margin-bottom: 4rem;
            width: 100%;
            &.u-table-pc{
                display: table;
                @include sp {
                    display: none;
                }
            }
            &.u-table-sp{
                display: none;
                @include sp {
                    table-layout: fixed;
                    width: calc(100% + 1rem);
                    margin: auto -0.5rem;
                    display: table;
                    margin-bottom: var(--mb-sp_normal);
                }
            }
            tr{
                th,td{
                    padding: 2rem 1.3rem 2rem 2rem;
                    @include sp {
                        padding: 1rem;
                    }
                }
                th{
                    width: calc(100% / 5);
                    font-weight: var(--font-weight_bold);
                    color: var(--c-white);
                    @include sp {
                        width: auto;
                    }
                    &.u-th-blue{
                        background-color: var(--c-blue);
                        border-radius: 1rem 1rem 0 0;
                        line-height: 1;
                        @include sp {
                            padding: 2rem;
                            text-align: center;
                        }
                    }
                    &.u-th-grey{
                        background-color: var(--c-grey_03);
                        vertical-align: middle;
                        @include sp {
                            width: 210px;
                            // min-width: 113px;
                            // max-width: 210px;
                            @include sm {
                                width: 113px;
                            }
                        }
                    }
                }
                td{
                    background-color: var(--c-white);
                    .small{
                        font-size: var(--font-size_s);
                        line-height: calc(24/14);
                    }
                    @include sp {
                        vertical-align: middle;
                    }
                }
            }
            caption{
                font-weight: var(--font-weight_bold);
                color: var(--c-white);
                background-color: var(--c-blue);
                border-radius: 1rem 1rem 0 0;
                line-height: 1;
                width: calc(100% - 1rem);
                margin: auto;
                @include sp {
                    padding: 2rem;
                    text-align: center;
                }
            }
        }
    }
    .fifth{
        .u-fifth-content{
            gap: var(--c-gap);       
            position: relative;
            margin-bottom: 4rem;
            @include sp {
                flex-direction: column;
                gap: 1rem;
            }
            .left,
            .right{
                width: 50%;
                padding: 4rem;
                text-align: center;
                @include sp {
                    width: 100%;
                    padding: 6rem 4rem;
                }
                .title{
                    font-weight: var(--font-weight_bold);
                    font-size: var(--font-size_l);
                    padding-bottom: 1rem;
                    border-bottom: 2px solid;
                    margin-bottom: 1.7rem;
                }
                .price{
                    font-size: var(--font-size_l);
                    font-weight: var(--font-weight_bold);
                    margin: 2rem;
                    .large{
                        font-size: var(--font-size_xxxl);
                    }
                }
                .notice{
                    font-size: var(--font-size_s);
                    font-weight: 400;
                }
            }
            .left{
                background-color: var(--c-blue);
                color: var(--c-white);
                border-color: var(--c-white);
                @include sp {
                    position: relative;
                    &::after{
                        content: url(assets/images/about/icon-plus.svg);
                        display: block;
                        position: absolute;
                        top: 100%;
                        left: 50%;
                        transform: translate(-50%,-45%);
                    }
                }
            }
            .right{
                background-color: var(--c-grey);
                color: var(--c-blue);
                border-color: var(--c-blue);
                .notice{
                    color: var(--c-black);
                }
            }
            .c-img-wrap{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                z-index: 1;
                @include sp {
                    display: none;
                }
            }
        }
    }
}



/* スクロール用アニメーション c-fadeは必須 (例 "c-fade c-right") */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  @keyframes rightIn {
    0% { transform: translateX( 50px );}
    100% { opacity: 1; transform: translateX( 0 );}
  }
  @keyframes leftIn {
    0% { transform: translateX( -50px );}
    100% { opacity: 1; transform: translateX( 0 );}
  }
  @keyframes bottomIn {
    0% { transform: translateY( 50px );}
    100% { opacity: 1; transform: translateY( 0 );}
  }
  
  @keyframes leftInBit {
    0% { transform: translateX( -1em );}
    100% { opacity: 1; transform: translateX( 0 );}
  }

.c-fade { opacity: 0; }
.c-fade.fade-v { animation: fadeIn 1s ease forwards; }
.c-right { opacity: 0; }
.c-right.fade-v { animation: rightIn 1s ease forwards; }
.c-left { opacity: 0; }
.c-left.fade-v { animation: leftIn 1s ease forwards; }
.c-bottom { opacity: 0; }
.c-bottom.fade-v { animation: bottomIn 1s ease forwards; }

.c-left-bit { opacity: 0; }
.c-left-bit.fade-v { animation: leftIn 1s ease forwards; }


/* 順番表示 */
.c-right-order { opacity: 0; }
.c-right-order.fade-v:nth-child(1) { animation: 1s rightIn 0.1s ease forwards; }
.c-right-order.fade-v:nth-child(2) { animation: 1s rightIn 0.2s ease forwards; }
.c-right-order.fade-v:nth-child(3) { animation: 1s rightIn 0.3s ease forwards; }
.c-right-order.fade-v:nth-child(4) { animation: 1s rightIn 0.4s ease forwards; }
.c-right-order.fade-v:nth-child(5) { animation: 1s rightIn 0.5s ease forwards; }
.c-right-order.fade-v:nth-child(6) { animation: 1s rightIn 0.6s ease forwards; }
.c-right-order.fade-v:nth-child(7) { animation: 1s rightIn 0.7s ease forwards; }
.c-right-order.fade-v:nth-child(8) { animation: 1s rightIn 0.8s ease forwards; }
.c-right-order.fade-v:nth-child(9) { animation: 1s rightIn 0.9s ease forwards; }
.c-right-order.fade-v:nth-child(10) { animation: 1s rightIn 1.0s ease forwards; }
.c-right-order.fade-v:nth-child(11) { animation: 1s rightIn 1.1s ease forwards; }
.c-right-order.fade-v:nth-child(12) { animation: 1s rightIn 1.2s ease forwards; }
.c-right-order.fade-v:nth-child(13) { animation: 1s rightIn 1.3s ease forwards; }
.c-right-order.fade-v:nth-child(14) { animation: 1s rightIn 1.4s ease forwards; }
.c-right-order.fade-v:nth-child(15) { animation: 1s rightIn 1.5s ease forwards; }
.c-right-order.fade-v { animation: rightIn 1s ease forwards; }

.c-bottom-order { opacity: 0; }
.c-bottom-order.fade-v:nth-child(1) { animation: 1s bottomIn 0.1s ease forwards; }
.c-bottom-order.fade-v:nth-child(2) { animation: 1s bottomIn 0.2s ease forwards; }
.c-bottom-order.fade-v:nth-child(3) { animation: 1s bottomIn 0.3s ease forwards; }
.c-bottom-order.fade-v:nth-child(4) { animation: 1s bottomIn 0.4s ease forwards; }
.c-bottom-order.fade-v:nth-child(5) { animation: 1s bottomIn 0.5s ease forwards; }
.c-bottom-order.fade-v:nth-child(6) { animation: 1s bottomIn 0.6s ease forwards; }
.c-bottom-order.fade-v:nth-child(7) { animation: 1s bottomIn 0.7s ease forwards; }
.c-bottom-order.fade-v:nth-child(8) { animation: 1s bottomIn 0.8s ease forwards; }
.c-bottom-order.fade-v:nth-child(9) { animation: 1s bottomIn 0.9s ease forwards; }
.c-bottom-order.fade-v:nth-child(10) { animation: 1s bottomIn 1.0s ease forwards; }
.c-bottom-order.fade-v:nth-child(11) { animation: 1s bottomIn 1.1s ease forwards; }
.c-bottom-order.fade-v:nth-child(12) { animation: 1s bottomIn 1.2s ease forwards; }
.c-bottom-order.fade-v:nth-child(13) { animation: 1s bottomIn 1.3s ease forwards; }
.c-bottom-order.fade-v:nth-child(14) { animation: 1s bottomIn 1.4s ease forwards; }
.c-bottom-order.fade-v:nth-child(15) { animation: 1s bottomIn 1.5s ease forwards; }
.c-bottom-order.fade-v { animation: bottomIn 1s ease forwards; }



