/*変数設定用*/

@mixin pc {
    @media screen and (min-width: 981px) {
        @content;
    }
}

@mixin sp {
    @media screen and (max-width: 980px) {
        @content;
    }
}

@mixin xl {
    @media screen and (max-width: 1130px) {
        @content;
    }
}

@mixin lg {
    @media screen and (max-width: 980px) {
        @content;
    }
}

@mixin md {
    @media screen and (max-width: 600px) {
        @content;
    }
}

@mixin sm {
    @media screen and (max-width: 480px) {
        @content;
    }
}

@mixin prefixes($property, $value) {

    @each $prefix in -webkit-,
    -moz-,
    -ms-,
    -o-,
    "" {
        #{$prefix}#{$property}: $value;
    }
}

.u-pc {
	@include pc {
		display: block!important;
	}
	@include sp {
		display: none!important;
	}
}

.u-sp {
	@include pc {
		display: none!important;
	}
	@include sp {
		display: block!important;
	}
}

$maincolor: #fff;
$subcolor: #000;

.text{
    &-copy{
        font-size: 48px;
    }
    &-primary{
        font-size: 36px;
    }
    &-notice{
        font-size: 24px;
    }
    &-large{
        font-size: 20px;
    }
    &-normal{
        font-size: 16px;
    }
    &-small{
        font-size: 10px;
    }
}